body {
  font-family: 'Marcellus SC', sans-serif;
  background-color: #ECECEC;
}
.nav-tools {
  margin-bottom: 1em;
}
.navbar-example{
  border: 1px solid #d4d4d4;
}

.nav-tools .dropdown-toggle {
  padding: 4px 2em 4px 2em;
}
.nav-tools nav {
  min-height: 25px;
  font-size: 13px;
}

#tools-module-bar > nav > div > ul {
    margin: 0px;
}

body section {
  margin: 1em;
}
.navbar-inner {
  border-radius: 0px;
}
footer {
  text-align: center;
}
.navbar {
  margin-bottom: -1px;
}
